<h1>Scrapper Admin</h1>
<div>
	<form action="/admin/update">
		<label>Yelp</label>
		<input type="checkbox" name="yelp">
		<label>Trip Advisor</label>
		<input type="checkbox" name="trip_advisor">
		<input type="submit" class="col" value="update">
	</form>
</div>